:root {
    --blanco:#ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    
}
html{
    font-size: 62.5;
    box-sizing: border-box;
}
body {
    font-size: 16px; /* 1 rem = 10px medida estandar para cualquier dispositivo*/
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 400;
}

.titulo span {
    font-size: 1rem;
}

.contenido {
    max-width: 120rem;
    margin: 0 auto;
   
}

.nav-bg {
    background-color: grey;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

/*@media (min-width:480px) == media query para adaptarse la pagina a un telefono*/
/*@media (min-width:1140px) == media query para adaptarse la pagina a una lapto*/


@media (min-width:768px) {  /* media para una table adaptarse a una pagina*/
.navegacion-principal {
    flex-direction: column;
    justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: right;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight:700;
    padding:1rem;
    
}

.navegacion-principal a:hover {
    background-color:purple;
    color: var(--oscuro);
}




.hero {
    background-image: url(../Img/AssistControl.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
}



